<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend - San Benito Web</title>
</head>
<style>
body{
    background-color: white;
    align-content: center;
    align-items: center;
    padding: 64px;
}
h1{
    color: #666666;
    font-family: sans-serif;
    font-size: 400%;
    margin: 0px;
    width: 100%;
    top: 0px;
}
h2{
    color: #f0f0f0;
    font-family: sans-serif;
    font-size: 150%;
    padding: 5%;
}
p{
    color: #666666;
    font-family: sans-serif;
    text-align: justify;
    font-size: 100%;
    padding: 5%;
}    
</style>
<body>
    <h1>Backend de San Benito Web</h1>
</body>
</html>
