<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend - San Benito Web</title>
</head>
<style>
body{
    background-color: white;
    align-content: center;
    align-items: center;
    padding: 64px;
}
h1{
    color: #666666;
    font-family: sans-serif;
    font-size: 400%;
    margin: 0px;
    width: 100%;
    top: 0px;
}
h2{
    color: #777777;
    font-family: sans-serif;
    font-size: 150%;
    padding: 5%;
}
p{
    color: #666666;
    font-family: sans-serif;
    text-align: justify;
    font-size: 100%;
    padding: 5%;
}    
</style>
<body>
    <h1>Backend de San Benito Web</h1>
    <h2>Aquí se verán las views y clases de la Base de Datos.</h2>

    <h2>Entidades:</h2>
    <ul>
        {% for model in models %}
            <li>{{ model.name }}</li>
        {% endfor %}
    </ul>

    <h2>Vistas:</h2>
    <ul>
        {% for view in all_views %}
            <li>{{ view }}</li>
        {% endfor %}
    </ul>
</body>
</html>
